pipeline/pl_json_lookup.json
{
	"name": "pl_json_lookup",
	"properties": {
		"activities": [
			{
				"name": "LookUp JSONs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT * FROM Table_Of_Tables \nWHERE source_name REGEXP \"json\""
					},
					"dataset": {
						"referenceName": "ds_sql_source",
						"type": "DatasetReference",
						"parameters": {
							"p_table": "Table_Of_Tables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach JSONs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookUp JSONs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookUp JSONs').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy JSON to CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_folder",
									"type": "DatasetReference",
									"parameters": {
										"p_file_name": {
											"value": "@item().source_name",
											"type": "Expression"
										},
										"p_folder_name": "europe/source/jsons"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_folder",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_name": "europe/sink",
										"p_file_name": {
											"value": "@item().sink_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Bronze Ingestion"
		},
		"annotations": []
	}
}